*{
	padding: 0;
	margin: 0;
}

header {
	background-color: #FFD4C4;
	padding: 20px;
	font-size: 25px
	color: ##382B33;
	line-height: 2px; 
}

#slogan {
	font-style: italic;
	padding: 20px;
}

nav {
	background-color: #FFD4C4;
	font-size: 25px
	color: ##382B33;
	margin-right: 10px;
	float: right;
}
	


body {
	font-family: Helvetica, sans-serif;
	color: #222262;
	background-color: #F8F0F2;
}

img {
	width: 25%;
}

section {
	padding: 20px;
}

ul, ol {
	padding-left: 30px; 
}

footer {
	background-color: #E8B38B;
	padding: 20px; 
	text-align: center;
}