@import url("https://use.typekit.net/xga3kfz.css");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size:20px; 
	background-color: #FFF;
	font-family:'basic-sans', sans-serif;
	font-weight: 300;
}

header {
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 {
	width: 100%;
	max-width: 10em;
	text-indent: -999999em;
	font-family: 'basic-sans', sans-serif;
	overflow: hidden;
}
nav {
	padding: 1em;
	font-size: 1.25em;
	font-weight: 700;
}

nav a {
	text-align: right;
	text-transform: uppercase;
	text-decoration: none; 
	display: block;
	float: left;
	color: #11B6FF;
	padding: 1em;
}

a:hover {
	color: #3C3D3D;
}

#intro {
	position: relative;
}
#intro h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 20em;
	color: #FFF;
}

#intro img {
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.contents {
	max-width: 42em;
	width: 100%;
	padding: 1em 0.5em;
	margin: 0 auto;
	color: #3C3D3D;
	padding: 1em;
}

.button {
	border: 0.05em solid white;
	padding: 1em;
	font-family:'basic-sans', sans-serif;
	background-color: #11B6FF;
	color: #FFF;
}


.two .content {
	width: 50%;
	float: left;
	padding: 1em;
}

.three .content{
	width: 33%;
	float: left;
	padding: 1em;
}

section {
	padding: 1em; 
}

article {
	padding: 1em;
}

#about {
	background-color: #D2D6D6;
}

#steps {
	background-color: #D2D6D6;
}

.content {
	float: left;
}

#booking {
	background-color: #D2D6D6;
}

h1, h2, h3 {
	font-weight: 400; 
	color: #11B6FF;
}

img {
	width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: #6ABFFC; 
}

p {
	line-height: 1.5em;
	font-family: 'yrsa', serif;
	font-weight: 300;
	font-size: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

ul, ol {
	padding-left: 1em;  
	font-family: 'yrsa', serif;
	font-weight: lighter;
	line-height: 1.5em;
}

footer {
	padding: 1em; 
	text-align: center;
}