@import url('https://fonts.googleapis.com/css?family=Assistant|EB+Garamond&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size:20px; /*1em=20px*/
	color: #00009D; 
	background-color: #FFFFFF;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	font-family:'Assistant', sans-serif;
	font-weight: bold;
	font-size: 50px
	color: #00009D;
	line-height: 2px; 
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h1 {
	width: 100%;
	max-width: 200px;
	text-indent: -999999em;
}
nav {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	font-size: 25px
	color: #00009D;
	margin-right: 10px;
	float: right;
}

nav a {
	text-align: right;
	text-transform: uppercase;
	padding: 20px;
}
#intro {
	position: relative;
}
#intro h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: 400px;
}

.contents {
	max-width: 720px;
	width: 100%;
	padding: 20px 10px;
	margin: 0 auto;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px; 
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

h1, h2, h3 {
	font-family: 'Assistant', sans-serif;
	font-weight: 400; 
}

img {
	width: 100%;
	display: block;
}

a {
	font-family: 'Assistant', sans-serif;
	font-size: 1em;
	border-bottom: 1px solid ##00009D;
	text-transform: uppercase;
	text-decoration: none;
	color: #00009D; 
}

p {
	line-height: 1.5em;
	font-family: 'EB Garamond', serif;
	font-size: 1em;
	color: #00009D;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul, ol {
	padding-left: 30px; 
	font-size: 1em; 
	font-family: 'EB Garamond', serif;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px; 
	text-align: center;
}